@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Inter', sans-serif;
    --padding-y: clamp(0.9375rem, 0.8565rem + 0.4321vw, 1.375rem);
    --padding-x: clamp(1.25rem, 0.8912rem + 1.9136vw, 3.1875rem);
}

header {
    padding: var(--padding-y) var(--padding-x);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-left {
            flex-basis:35%;

            img {
                width: clamp(2.8125rem, 2.2917rem + 2.7778vw, 5.625rem);
                height: clamp(3.1875rem, 2.6667rem + 2.7778vw, 6rem);
            }
        }

        .header-right {

            @media (max-width: 900px) {
                display: none;
            }
            flex-basis: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav {
                padding: 42px 52px;
                ul {
                    list-style: none;
                    display: flex;
                    gap: 24px;
                    li {
                        display: inline-block;

                        a {
                            color: #FFF;
                            font-family: var(--font-family);
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .responsive-header {
            display: none;
            @media (max-width: 900px) {
                display: block;
            }

            button {
                border: none;
                background-color: transparent;

                svg {
                    color: #fff;
                    height: 24px;
                    width: 24px;
                }
            }

            .responsive-wrapper {
                display: none;
                padding: var(--padding-y) var(--padding-x);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 100vh;
                background: #fff;
                // display: flex;
                justify-content: flex-end;

                .container {
                    display: inline-block;
                }
            }
        }
    }
}

.primary-button {
    border-radius: 5px;
    border: 2px solid var(--Accent-1, #A6D5FD);
    padding: 15px 30px;
    background: transparent;
    font-family: var(--font-family);
    color: var(--Accent-1, #A6D5FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-y) var(--padding-x);

    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: relative;

        .content {
            grid-area: 1 / 1 / 2 / 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                text-align: center;
                text-shadow: 2px 2px #A6D5FD;
            }
            .sub-title {
                color: #FFF;
                font-family: var(--font-family);
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-align: center;
                text-shadow: 2px 2px #A6D5FD;
            }

        }
        

        .background {
            width: 832px;
            height: 552px;
            grid-area: 1 / 1 / 2 / 2;
            margin: auto;
            position: relative;
            z-index: -1;

            .circle-1 {
                position: absolute;
                top: 0;
                right: 15%;
            }

            .circle-2 {
                position: absolute;
                top: 0;
                left: 0;
            }

            .circle-3 {
                position: absolute;
                bottom: -25%;
                right: -25%;
            }

            .circle-4 {
                position: absolute;
                bottom: 5%;
                right: 35%;
            }
        }

        .email-section {
            position: absolute;
            bottom: 17%;
            right: -9%;
            transform: rotate(90deg);
        }

        .social-icons {
            display: flex;
            flex-direction: column;
            gap: 19px;
            align-items: center;
            position: absolute;
            bottom: 2%;
            left: 0;
            svg {
                color: #fff;
                width: 24px;
                height: 24px;
            }

            &::after {
                content: "";
                background: #fff;
                display: block;
                width: 2px;
                height: 120px;
            }
        }

        .down-button {
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .arrow-down {
                width: 50px;
                height: 100px;
                margin: auto;

                svg {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
}

body {
    background: linear-gradient(180deg, #002B51 0%, #000 100%);
}

h1 {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.12px;
    text-decoration: none;
}